<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= title %></title>
  <% if (debug === false) { %>
  <link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
  <% } %>
</head>
<body>
  <div id="app"></div>
  <div id="results"></div>
  <script src="js/app.<%= version %>.js"></script>
  <script>
      function init() {
        gapi.client.setApiKey('AIzaSyDHu7srsbmcnFn056jD2nge2xfI8BopYgM');
        gapi.client.load('youtube', 'v3').then(handleAPILoaded());
      }

      // After the API loads, call a function to enable the search box.
		function handleAPILoaded() {
		  setTimeout(() => {
		    document.getElementById('search-button').disabled = false;
		  }, 1000);
		}
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>
</html>
